@import 'core/mixins';
@import "core/variables";


/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {
  #zo2-footer-wrap .container .row, #zo2-footer-menu ul.nav{
    display: flex;
    flex-direction:row;
  }
  .zo2-menu {
    position: static;
    padding: 15px 0;
  }
  .is-sticky {
    padding: 0;
    .zo2-menu {
      padding: 5px 0;
    }
  }
  .zo2-megamenu {
    .navbar-nav {
      float: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 767px) {
  .search .search-form form #mod-search-searchword{
    height: 60px;
  }
  #zo2-header-logo {
    .zo2-logo {
      text-align: center;
      a {
        line-height: 60px;
      }
    }
  }

  #zo2-header-wrap {
    .mn-menu{
      order: 0;
    }
    .mobile-logo {
      order:1;
      margin-left: 8.333333333%;
    }
    .frm-search{
      order: 2;
    }

  }
  .search{
    .icon-search{
      i {
        top: 25px;
      }
    }
  }
  #zo2-footer-wrap .container .row, #zo2-footer-menu ul.nav {
    display: flex;
    flex-direction:column;
  }
}
