# IntelliJ - PhpStorm and PyCharm
.idea
.idea/
.idea/*
*.iml
*.ipr
*.iws
src/zo2/assets/zo2/css/megamenu-responsive.css
src/zo2/assets/zo2/css/shortcodes.css
src/zo2/assets/zo2/css/social.css
src/zo2_hallo/layouts/cache/layout_435.php
src/zo2_hallo/layouts/cache/layout_507.php
src/zo2/assets/zo2/css/*.css
src/zo2/assets/zo2/js/*.js
src/zo2_hallo/assets/zo2/css/*.css
src/zo2_hallo/assets/zo2/js/*.js
/nbproject/private/

components/
libraries/
media/
layouts/
language/
modules/
plugins/system/gantry/
nbproject/
images/
plugins/system/t3/
cli/
administrator/
templates/beez3/
plugins/user/
plugins/twofactorauth/
templates/protostar/
templates/rt_afterburner2/
templates/system/
plugins/editors-xtd/
plugins/content/
plugins/quickicon/
plugins/installer/
plugins/finder/
includes/
cache/
plugins/authentication/
plugins/editors/
plugins/search/
plugins/system/p3p/
plugins/system/languagefilter/
plugins/system/log/
plugins/system/logout/
plugins/system/redirect/
plugins/system/remember/
plugins/system/languagecode/
plugins/system/rokextender/
plugins/system/sef/
plugins/system/highlight/
tmp/
bin/
plugins/captcha/
plugins/extension/
plugins/system/debug/
templates/index.html
robots.txt
LICENSE.txt
configuration.php
htaccess.txt
index.php
logs/index.html
logs/jcontroller.log.php
plugins/index.html
web.config.txt
logs/
.htaccess
CONTRIBUTING.md
joomla.xml
plugins/system/index.html
robots.txt.dist
