# IntelliJ - PhpStorm and PyCharm
.idea
.idea/
.idea/*
*.iml
*.ipr
*.iws
plugins/system/zo2/css/megamenu-responsive.css
plugins/system/zo2/css/shortcodes.css
plugins/system/zo2/css/social.css
templates/zo2/layouts/cache/layout_435.php
templates/zo2/layouts/cache/layout_507.php
plugins/system/zo2/css/*.css
plugins/system/zo2/js/*.js
templates/zo2/assets/zo2/css/*.css
templates/zo2/assets/zo2/js/*.js
