# IDEs
/nbproject/*

# Joomla!
/administrator/*
/components/*
/libraries/*
/media/*
/layouts/*
/language/*
/modules/*
/images/*
/cli/*
/templates/beez3/*
/templates/protostar/*
/templates/rt_afterburner2/*
/templates/uber/*
/templates/yoo_master2/*
/templates/system/*
/includes/*
/cache/*
/bin/*
/tmp/*
/logs/*
/plugins/system/t3/*
/plugins/system/gantry/*
/plugins/user/*
/plugins/twofactorauth/*
/plugins/editors-xtd/*
/plugins/content/*
/plugins/quickicon/*
/plugins/installer/*
/plugins/finder/*
/plugins/authentication/*
/plugins/editors/*
/plugins/search/*
/plugins/system/p3p/*
/plugins/system/languagefilter/*
/plugins/system/log/*
/plugins/system/logout/*
/plugins/system/redirect/*
/plugins/system/remember/*
/plugins/system/languagecode/*
/plugins/system/sef/*
/plugins/system/rokextender/*
/plugins/system/highlight/*
/plugins/system/cache/*
/plugins/system/debug/*
/plugins/system/jch_optimize/*
/plugins/captcha/*
/plugins/extension/*
plugins/index.html
templates/index.html
LICENSE.txt
configuration.php
htaccess.txt
index.php
robots.txt
web.config.txt
plugins/josetta_ext/
plugins/system/k2/
