body.zo2-error {
    background: url(../images/404.png) no-repeat 0 0 #aed97a;
    color: #fff;
}
body.zo2-error >div {
    max-width: 700px;
    min-height: 400px;
    padding: 30px;
    margin: 50px auto;
}
#errorboxheader{
    color: #fff;
    font-size: 60px;
    margin-bottom: 30px;
}