.floating .zo2-social-box .zo2-social-inner {
  padding: 2px;
  text-align: center;
}
.socialbox-right {
  float: right;
  margin-left: 5px;
}
[class^="socialbox-"],
[class*="socialbox-"] {
  width: auto;
  height: auto;
}
.socialbox-left {
  float: left;
  margin-left: -87px;
}
.horizontal .zo2-social-box {
  display: inline-block;
  margin: 4px;
}
