a {
  color: #D25400;
}
nav.zo2-menu .navbar-nav > .open a {
  color: #D25400;
}
nav.zo2-menu .navbar-nav > .open a:hover,
nav.zo2-menu .navbar-nav > .open a:focus {
  color: #D25400;
}
nav.zo2-menu .navbar-nav .active a {
  color: #D25400;
}
nav.zo2-menu .navbar-nav .active a:hover,
nav.zo2-menu .navbar-nav .active a:focus {
  color: #D25400;
}
nav.zo2-menu .navbar-nav ul.mega-nav li a:hover,
nav.zo2-menu .navbar-nav ul.mega-nav li a:active,
nav.zo2-menu .navbar-nav ul.mega-nav li a:focus {
  color: #D25400;
}
nav.zo2-menu .navbar-nav ul.mega-nav li.active a {
  color: #D25400;
}
#zo2-body-wrap .top-feature .zo2-feature .zo2-circle {
  color: #D25400;
}
#zo2-body-wrap .top-feature .zo2-feature .zo2-circle:before {
  box-shadow: 0 0 0 3px #D25400;
}
#zo2-body-wrap .top-feature .zo2-feature:hover .zo2-circle {
  background-color: #D25400;
  color: #fff;
}
.box-color {
  background: #D25400;
}
@media (max-width: 767px) {
  body nav.zo2-menu .navbar-toggle:hover .icon-bar {
    background-color: #D25400;
  }
}
.btn-success {
  background-color: #D25400;
  color: #fff !important;
}
.zo2-pagination ul >li.active >span,
.pagination li:hover a {
  background: #D25400;
}
.item-page .article_content {
  border-top: 3px solid #D25400;
}
.item-page .article_content .article_icon {
  background: #D25400;
}
.dropdown-toggle:hover,
.dropdown-toggle:active,
.dropdown-toggle:focus {
  color: #D25400;
}
.item-page .article_content h1.singleItemTitle {
  color: #D25400;
}
.pager li a:hover,
.pager li a:active,
.pager li a:focus {
  background: #D25400;
}
