@media only screen and (min-width: 300px) {
  #zo2-footer-wrap .container .row,
  #zo2-footer-menu ul.nav {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) {
  #zo2-footer-wrap .container .row,
  #zo2-footer-menu ul.nav {
    display: flex;
    flex-direction: row;
  }
}
