.full-width {
  padding: 0;
}
.btn-hallo {
  padding: 15px 20px;
  margin: 0 15px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.btn-hallo:hover {
  text-decoration: none;
}
.button-download {
  color: #fff;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.button-download:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
}
.button-viewdemo {
  background-color: transparent;
  border: 2px solid #fff;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  color: #fff;
}
.button-viewdemo:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
  background-color: #e6502e;
  border: 2px solid #e6502e;
  color: #fff;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
@media only screen and (min-width: 768px) {
  #zo2-footer-wrap .container .row,
  #zo2-footer-menu ul.nav {
    display: flex;
    flex-direction: row;
  }
  .zo2-menu {
    position: static;
    padding: 15px 0;
  }
  .is-sticky {
    padding: 0;
  }
  .is-sticky .zo2-menu {
    padding: 5px 0;
  }
  .zo2-megamenu .navbar-nav {
    float: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
@media only screen and (max-width: 767px) {
  .search .search-form form #mod-search-searchword {
    height: 60px;
  }
  #zo2-header-logo .zo2-logo {
    text-align: center;
  }
  #zo2-header-logo .zo2-logo a {
    line-height: 60px;
  }
  #zo2-header-wrap .mn-menu {
    order: 0;
  }
  #zo2-header-wrap .mobile-logo {
    order: 1;
    margin-left: 8.333333333%;
  }
  #zo2-header-wrap .frm-search {
    order: 2;
  }
  .search .icon-search i {
    top: 25px;
  }
  #zo2-footer-wrap .container .row,
  #zo2-footer-menu ul.nav {
    display: flex;
    flex-direction: column;
  }
}
