@media only screen and (min-width: 300px) {
  #zo2-footer-wrap .container .row,
  #zo2-footer-menu ul.nav {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) {
  #zo2-footer-wrap .container .row,
  #zo2-footer-menu ul.nav {
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (max-width: 767px) {
  #zo2-header-wrap>.container>.row {
    display: flex;
  }
  #zo2-header-wrap>.container>.row .mn-menu {
    order: 0;
  }
  #zo2-header-wrap>.container>.row .mobile-logo {
    order: 1;
  }
  #zo2-header-wrap>.container>.row .frm-search {
    order: 2;
  }
}
