.zo2-selected{box-shadow: 0 0 3px #2EBDFF !important}
.zo2-dragging{box-shadow: 0 0 3px #3437ff !important;z-index: 10000}
.zo2-clonedragging{opacity: 0.5;max-width: 800px;min-width: 200px}
.zo2-hoveron{opacity: 0.5;box-shadow: 0 0 3px #ff6d1f !important}
.zo2-draggable{z-index:9999}
div[data-zo2componenttype="data-component"]{width:100%;min-height: 300px;background: #999999 url('../images/icon_datacomponent.png') no-repeat center center;margin-bottom:10px}
[class^="span"]:empty{min-height: 200px; height:100%}
[class^="span"]{box-shadow: 0 0 3px #cccccc; border-radius: 6px}