#droppable-container {
    position: relative;
    overflow: auto;
    margin-left: 320px;
    height: 650px
}
#layoutbuilder-droppable {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5000px;
    z-index: 2
}
#layoutframe {
    z-index: 1;
    height: 5000px;
    display: block;
    border: none
}
.relative{
    position: relative
}
.zo2-draggable{z-index:9999;width: 300px;height:30px}
#components-container{width:300px;float:left}