.draggable-item{min-height:42px !important;line-height:40px;border:solid 1px #003399;background: #ffffff}
.drag-handler{width:40px;height:40px;line-height:40px;float:right;background: url('../images/icon_drag24.png') no-repeat center center;cursor: move;}
#layoutframe{border:none;width:100%;display: block}