.main-container{
    background: #ffffff;
    padding: 0 20px;
    -moz-box-shadow: 0 0 5px 0 #000000;
    -webkit-box-shadow: 0 0 5px 0 #000000;
    box-shadow: 0 0 5px 0 #000;
}
.bigHeader{
    font-size:72px;
    text-align: center;
    line-height: 1
}